@page
@model AppRazor.Pages.EditFriendModel
@{
    ViewData["Title"] = "Edit friend";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]

<div class="container px-4 py-4" id="edit-friend">
    <form class="needs-validation" method="post" novalidate>
        <h2 class="pb-2 border-bottom">
            Edit Friend
            <button class="btn btn-primary-outline" type="submit" asp-page-handler="Save">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#save" /></svg>
            </button>
            <button class="btn btn-primary-outline" type="submit" asp-page-handler="Undo">
                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#undo" /></svg>
            </button>
        </h2>

        <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
            <div class="col-md-7 col-lg-10">

                <!-- Server side validation errors, rough but just in case client side validation is not working or tampered with -->
                @if (Model.HasValidationErrors)
                {
                    <div class="row g-3">
                        @foreach (var item in Model.ValidationErrorMsgs)
                        {
                            <span class="alert alert-danger" role="alert">
                                @item
                            </span>
                        }
                    </div>
                }

                <div class="row g-3">

                    <!-- Hidden fields used to bind input model -->
                    <input asp-for="FriendInput.FriendId" type="hidden" />
                    <input asp-for="FriendInput.StatusIM" type="hidden" />

                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Firstname</label>
                        <input asp-for="FriendInput.FirstName" class="form-control" />
                        <span asp-validation-for="FriendInput.FirstName" class="invalid-feedback"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Lastname</label>
                        <input asp-for="FriendInput.LastName" class="form-control" />
                        <span asp-validation-for="FriendInput.LastName" class="invalid-feedback"></span>
                    </div>

                    <div class="col-sm-6">
                        <label for="birthday" class="form-label">Birthday</label>
                        <input type="text" class="form-control" id="birthday" asp-for="FriendInput.Birthday">
                        <span asp-validation-for="FriendInput.Birthday" class="invalid-feedback"></span>
                    </div>

                    <div class="col-sm-6">
                    </div>

                    <div class="col-sm-6">

                        <label for="address" class="form-label">
                            Address
                            <span role="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseAddressDetails"
                                aria-expanded="false"
                                aria-controls="collapseAddressDetails">
                                <svg class="bi text-body-secondary" width="1.25em" height="1.25em">
                                    <use xlink:href="#edit" />
                                </svg>
                            </span>
                            <button type="submit" asp-page-handler="SaveAddress" class="btn btn-link p-0">
                                <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.25em" height="1.25em">
                                    <use xlink:href="#save" />
                                </svg>
                            </button>
                        </label>

                        <input asp-for="FriendInput.Address.StreetAddress" class="form-control" />
                        <span asp-validation-for="FriendInput.Address.StreetAddress" class="invalid-feedback"></span>  

                    </div>
                    <div class="collapse mt-2" id="collapseAddressDetails">
                        <div class="col-sm-6">
                            <label for="city" class="form-label">City</label>
                            <input asp-for="FriendInput.Address.City" class="form-control" />
                            <span asp-validation-for="FriendInput.Address.City" class="invalid-feedback"></span>
                        </div>

                        <div class="col-sm-6">
                            <label for="city" class="form-label">Zipcode</label>
                            <input asp-for="FriendInput.Address.ZipCode" class="form-control" />
                            <span asp-validation-for="FriendInput.Address.ZipCode" class="invalid-feedback"></span>
                        </div>

                        <div class="col-sm-6">
                            <label for="country" class="form-label">Country</label>
                            <input asp-for="FriendInput.Address.Country" class="form-control" />
                            <span asp-validation-for="FriendInput.Address.Country" class="invalid-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row g-1">
                    <h3 class="pb-2">Quotes</h3>

                    <!-- This is the parameter that will be sent to Post when item is clicked -->
                    <input type="hidden" name="artistId" data-seido-selected-item-id-target />

                    <div class="row mb-2 text-center">
                        <div class="col-md-10 themed-grid-head-col">Content and author</div>
                        <div class="col-md-2 themed-grid-head-col">Actions</div>
                    </div>
                     @if (Model.FriendInput.Quotes != null && Model.FriendInput.Quotes.Any())
                    {
                        @foreach (var item in Model.FriendInput.Quotes)
                        {
                            <div class="row mb-2 text-center">
                                <div class="col-md-10 themed-grid-col">
                                    @item.Quote
                                    <div class="col-md-16  text-end">@item.Author</div>
                                </div>
                                <div class="col-md-2 themed-grid-col">
                                    <button type="submit" asp-page-handler="DeleteQuote" class="btn btn-danger btn-sm m-1"
                                            data-seido-selected-item-id="@item.QuoteId">
                                        Del
                                    </button>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="row g-1">
                    <!-- This is the parameter to a Post-->
                    <input type="hidden" name="petId" data-seido-selected-item-id-target />
                    <h3 class="pb-2">Pets</h3>

                    <div class="row mb-2 text-center">
                        <div class="col-md-8 themed-grid-head-col">Name</div>
                        <div class="col-md-2 themed-grid-head-col">Kind</div>
                        <div class="col-md-2 themed-grid-head-col">Actions</div>
                    </div>

                    @if (Model.FriendInput.Pets != null && Model.FriendInput.Pets.Any())
                    {
                        @foreach (var item in Model.FriendInput.Pets)
                        {
                            <div class="row mb-2 text-center">
                                <div class="col-md-8 themed-grid-col">@item.Name</div>
                                <div class="col-md-2 themed-grid-col">@item.Kind</div>
                                <div class="col-md-2 themed-grid-col">
                                    <button type="submit" asp-page-handler="DeletePet" class="btn btn-danger btn-sm m-1"
                                            data-seido-selected-item-id="@item.PetId">
                                        Del
                                    </button>
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </form>
</div>

@section script
{
    <!-- -->
    <partial name="_ValidationScriptsPartial" />
}
